.container {
  border-style: double;
  border-radius: initial;
  padding-left: 1%;
  padding-right: 1%;
  background-color: wheat;
}
h1 {
  margin-top: 1%;
  color: cornflowerblue;
}
h2 {
  color: cornflowerblue;
}
.Bio {
  padding: 2%;
}
